* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-container {
  /* min-height: 10vh; */
  width: 100%;
  position: relative;
}

.nav-container {
  position: fixed;
  padding: 1vw 2vw;
  width: 100%;
  border-bottom: 1px solid #f7b810;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  background: rgba(255, 255, 255, 0.3);
  /* Glassy effect */
  backdrop-filter: blur(10px);
  /* Adds blur effect */
  transition: all 0.3s ease-in-out;
  /* Smooth transition for animations */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-container img {
  width: 4vw;
  height: 8vh;
}

.nav-links h4 {
  padding: 10px 20px;
  border: 1px solid rgb(154, 152, 152);
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.688);
  font-size: 18px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-links h4 a {
  text-decoration: none;
  color: #1a1a1a;
  position: relative;
  z-index: 9;
}

.nav-links i {
  font-size: 2.2rem;
  font-weight: 600;
  color: #f7b810;
  position: relative;
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease;
}

.nav-links i.open {
  transform: rotate(180deg);
}

.nav-links h4 a:hover {
  color: #fff;
}

.nav-links h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f7b810;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-links h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  /* Initially off-screen to the right */
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  /* box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1); */
  /* Shadow from the left */
  z-index: 1000;
}

.sidebar.open {
  right: 0;
  /* Open position */
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.sidebar-header i {
  font-size: 2.5rem;
  color: #431d45;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-header i.open {
  transform: rotate(180deg);
  /* Rotate the icon to 180 degrees when open */
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.sidebar-links h4 {
  padding: 10px 20px;
  background-color: #f7b810;
  border: 1px solid rgb(154, 152, 152);
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.688);
  font-size: 18px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.sidebar-links h4 a {
  text-decoration: none;
  color: #1a1a1a;
}

.sidebar-links h4:hover {
  background-color: #f7b810;
  color: #fff;
}

.sidebar-links h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .nav-links h4 {
    display: none;
  }

  .nav-container img {
    width: 14vw;
    height: 7vh;
  }

  .nav-links i {
    color: #431d45;
    display: block;
  }
}

.home-container {
  width: 100%;
  padding-top: 18vh;
  min-height: 100vh;
  /* background-color: #dfe5cb; */
  /* background-image: linear-gradient(to bottom, #fcef64, #fcc44b, #f44c7d); */
  /* background: linear-gradient(135deg, #f9b80f 30%, #451f45 70%); */
  background: radial-gradient(circle, #dbf192, #f9b80f);
}

.active-link {
  /* background-color: red; */
  color: #fff !important;
  font-weight: bold;
}


.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-content {
  text-align: center;
  position: relative;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  height: 60vh;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.carousel-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  background-color: #f7b810;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #f29914;
}

.carousel-footer span {
  font-size: 1rem;
  color: #333;
}

@media (max-width: 600px) {

  .home-container {
    padding-top: 11vh;
  }

  .carousel-container {
    height: 35vh;
    margin-top: 0px;
  }

  .carousel-image {
    height: 20vh;
  }

  .carousel-footer {
    margin-top: 15px;
  }

  .prev-btn,
  .next-btn {
    padding: 3px 6px;
    font-size: 1.2rem;
  }

  .carousel-footer span {
    font-size: 0.6rem;
    padding: 0px 5px;
    text-align: center;
  }
}

/* General Styling */
/* Vision Section Styling */
.vision-scroll-section {
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 50px;
  background: linear-gradient(120deg, #f9f9f9, #ebedee);
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}

/* Left Section: Text */
.vision-content {
  flex: 1;
  max-width: 600px;
}

.vision-title {
  font-size: 3rem;
  font-weight: bold;
  color: #451f44;
  margin-bottom: 20px;
}

.vision-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 30px;
}

.highlight {
  color: #f29914;
  font-weight: bold;
}

/* Call-to-Action Button */
.cta-button {
  padding: 12px 24px;
  /* background: #f50515; */
  background-image: linear-gradient(135deg, #f50515, #f73ead);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  /* background: #df0a16; */
  background-image: linear-gradient(135deg, #f73ead, #f50515);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Right Section: Illustration */
.vision-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .vision-scroll-section {
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding: 20px 10px;
  }

  .vision-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .vision-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .vision-content {
    text-align: center;
  }

  .cta-button {
    margin-top: 20px;
  }
}

/* General Styles for Section */
.courses-section {
  margin: 35px;
  padding: 80px 50px;
  background: linear-gradient(135deg, #f7f7f7, #eef1f5);
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #3a3a3a;
}

/* Courses Grid */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

/* Course Cards */
.course-card {
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 1;
  /* Ensures full visibility by default */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
  text-align: left;
}

.course-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.course-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

.learn-more {
  display: inline-block;
  background: linear-gradient(135deg, #f50515, #f73ead);
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.learn-more:hover {
  background: linear-gradient(135deg, #f73ead, #f50515);
}

@media screen and (max-width: 768px) {

  .courses-section {
    margin: 15px;
    padding: 10px 10px;
  }

  .courses-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .course-title {
    font-size: 1.5rem;
  }

  .learn-more {
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.why-choose-us {
  /* padding: 100px 50px; */
  /* background: linear-gradient(135deg, #f9fafc, #eef2f5); */
  text-align: center;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.section-subtitle {
  font-size: 1.2rem;
  margin-bottom: 60px;
  color: #666;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reason-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  text-align: left;
}

.reason-item:nth-child(even) {
  flex-direction: row-reverse;
}

.icon {
  font-size: 3rem;
  color: #6a11cb;
  background: linear-gradient(135deg, #f50515, #f73ead);
  color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.reason-text {
  max-width: 500px;
}

.reason-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.reason-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .reasons-list {
    gap: 30px;
  }

  .reason-item {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .reason-item:nth-child(even) {
    flex-direction: column;
  }

  .icon {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  .reason-title {
    font-size: 1.5rem;
  }

  .reason-description {
    font-size: 0.88rem;
  }
}

.achievements {
  margin-top: 30px;
  background: #f9fafc;
  padding: 100px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 50px;
}

.achievement-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.achievement-item {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.achievement-item:hover {
  transform: translateY(-10px) scale(1.05);
  /* Slight scale on hover */
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}


.achievement-icon {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f6b80f;
  margin-bottom: 10px;
}

.achievement-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.achievement-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.faculty-section {
  /* padding: 0px 0; */
  /* background-color: #f7f9fc; */
  text-align: center;
  padding: 35px 50px;
}

.faculty-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
}

.faculty-list {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.faculty-item {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Circular Profile Image */
.faculty-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.faculty-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

/* Tooltip for Name */
.faculty-tooltip {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Show name on hover */
.faculty-item:hover .faculty-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Hover effect: Zoom on image */
.faculty-item:hover .faculty-image-container {
  transform: scale(1.1);
  /* Slight zoom on hover */
}

/* Name Styling */
.faculty-name {
  font-size: 16px;
  font-weight: 600;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .faculty-section {
    padding: 35px 10px;
  }

  .faculty-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .faculty-item {
    width: 100px;
    height: 100px;
  }

  .faculty-tooltip {
    opacity: 1;
    visibility: visible;
  }

  .faculty-name {
    font-size: 12px;
    font-weight: 500;
  }
}

.testimonial-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 35px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-carousel-content {
  text-align: center;
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  max-width: 80%;
  text-align: center;
}

.testimonial img {
  width: 5vw;
  height: 11vh;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-message {
  font-size: 1.2rem;
  font-style: italic;
  color: #333;
  margin-bottom: 15px;
}

.testimonial-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-position {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.testimonial-carousel-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  background-color: #f7b810;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #f29914;
}

.testimonial-carousel-footer span {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.bottom-space {
  padding-bottom: 50px;
}

@media (max-width: 600px) {
  .testimonial-carousel-container {
    height: auto;
  }

  .testimonial-carousel-content {
    height: auto;
    padding: 20px 10px;
  }

  .testimonial img {
    width: 18vw;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
  }

  .testimonial-message {
    font-size: 1rem;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .testimonial-position {
    font-size: 1rem;
  }

  .prev-btn,
  .next-btn {
    padding: 5px 10px;
    font-size: 1.2rem;
  }

  .testimonial-carousel-footer span {
    /* display: none; */
    font-size: 0.8rem;
    padding: 0 1px;
  }
}

.footer-container {
  background-color: #331732;
  color: #fff;
  padding: 100px 40px 20px 40px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 calc(25% - 20px);
  min-width: 200px;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #f7b810;
}

.footer-description {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-description span {
  color: #f7b810;
  font-weight: bold;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  color: #f7b810;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffd85f;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons a {
  font-size: 1.5rem;
  color: #f7b810;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffd85f;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #ddd;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    flex: 1 1 100%;
    min-width: 0;
  }

  .footer-title {
    font-size: 1rem;
  }

  .footer-description {
    font-size: 0.85rem;
  }

  .footer-links a {
    font-size: 0.85rem;
  }

  .social-icons a {
    font-size: 1.3rem;
  }

  .footer-bottom {
    font-size: 0.7rem;
  }
}

/* Section Styling */
.courses-page-section {
  padding: 20px 20px;
  text-align: center;
}

.courses-page-heading {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 10px;
}

.courses-page-subheading {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.courses-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Card Styling */
.course-page-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-page-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.course-page-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.course-page-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
  color: #333;
}

.course-page-description {
  font-size: 1rem;
  text-align: justify;
  color: #555;
  margin-bottom: 15px;
}

.course-page-duration,
.course-page-target {
  font-size: 0.9rem;
  color: #777;
}

.course-page-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px 15px;
  background: linear-gradient(135deg, #f50515, #f73ead);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.course-page-btn:hover {
  background: linear-gradient(135deg, #f73ead, #f50515);
}

/* Responsive Design */
@media (max-width: 768px) {
  .courses-page-container {
    flex-direction: column;
    align-items: center;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  /* Add padding to prevent content from touching edges */
}

.modal-content {
  background: #fff !important;
  padding: 20px;
  max-width: 90%;
  /* Adjust width to fit smaller screens */
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.faculty-section {
  margin-top: 20px;
}

.faculty-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.faculty-card {
  text-align: center;
  max-width: 120px;
  /* Reduce size for smaller screens */
}

.faculty-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.course-page-btn {
  padding: 10px 15px;
  background: linear-gradient(135deg, #f73ead, #f50515);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.course-page-btn:hover {
  background: linear-gradient(135deg, #f50515, #f73ead);
}

/* Responsive Design */
@media (max-width: 768px) {
  .modal-content {
    padding: 15px;
  }

  .modal-content h3 {
    font-size: 1.3rem;
  }

  .modal-content p {
    font-size: 0.9rem;
  }

  .faculty-card {
    max-width: 100px;
  }

  .course-page-btn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 10px;
  }

  .modal-content h3 {
    font-size: 1.1rem;
  }

  .modal-content p {
    font-size: 0.8rem;
  }

  .faculty-card {
    max-width: 80px;
  }

  .faculty-list {
    gap: 5px;
  }

  .course-page-btn {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}

/* Feature Section */
.courses-feature-section {
  margin: 35px 20px;
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.feature-section-heading {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature-item {
  flex: 1 1 calc(33.33% - 30px);
  max-width: 300px;
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 1.5rem;
  color: #333;
}

.feature-item p {
  font-size: 1rem;
  color: #555;
}

.cta-section {
  margin: 0 20px;
  padding: 50px 20px;
  background: radial-gradient(circle, #f57843, #f55d43);
  color: white;
  text-align: center;
}

.cta-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 15px 25px;
  background: #fff;
  color: white;
  background: linear-gradient(135deg, #f73ead, #f50515);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.cta-btn:hover {
  background: linear-gradient(135deg, #f50515, #f73ead);
  color: white;
}

@media (max-width: 768px) {
  .feature-list {
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .cta-btn {
    padding: 12px 20px;
    font-size: 1rem;
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
  .feature-item {
    flex: 1 1 calc(50% - 30px);
  }
}

/* Large Screens (Desktops) */
@media (min-width: 1200px) {
  .feature-item {
    flex: 1 1 calc(25% - 30px);
  }
}

/* Admissions Section */
.admissions-section {
  padding: 30px 20px;
  /* background-color: #f9f9f9; */
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.admissions-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.admissions-header p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555;
}

/* Timeline Container */
.admissions-timeline {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.step-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Step Cards */
.step-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  text-align: center;
  flex: 1;
}

.step-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.step-card p {
  font-size: 0.9rem;
  color: #666;
}

.step-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.step-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* Arrows */
.arrow {
  font-size: 2rem;
  color: #f50515;
  transform: scale(0);
  /* Initial scale for animation */
  transition: transform 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
  .step-container {
    flex-direction: column;
  }

  .arrow {
    display: none;
    /* Hide arrows on smaller screens */
  }
}

/* FAQ Section */
.faq-section {
  margin: 0 35px;
  border-radius: 20px;
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.faq-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq-item.open {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-question {
  background-color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  font-weight: 500;
}

.faq-answer {
  padding: 15px 20px;
  background-color: #fafafa;
  font-size: 0.9rem;
  color: #555;
}

/* CTA Section */
.cta-section {
  margin-top: 40px;
  text-align: center;
}

.cta-button {
  background-color: #f50515;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #c20412;
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-container {
    padding: 0 10px;
  }

  .cta-button {
    width: 100%;
    padding: 15px;
  }
}